<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
  <head {{ sonata_seo_head_attributes() }}>
    {{ sonata_seo_title() }}
    {{ sonata_seo_link_canonical() }}
    {{ sonata_seo_lang_alternates() }}
    {{ bwbase_meta_tags() }}
    {{ bwbase_link_tags() }}
    {{ bwbase_sdks_html('head') }}
    {% block stylesheets %}
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto:400,700" />
      {% stylesheets 
        '@AppBundle/Resources/assets/global/bootstrap/bootstrap.scss'
        '@AppBundle/Resources/assets/global/layout.scss'
        filter='?uglifycss'
        name='BaseCSS'
         %}
        <link rel="stylesheet" href="{{ asset_url }}" />
      {% endstylesheets %}
    {% endblock %}
  </head>
  <body>
      {{ bwbase_sdks_html('body') }}
      {% block body %}
        <div class="container-fluid h-100 page">
        {# table to make sticky footer with dynamic height #}
        <table class="table layout-table h-100">
          <tbody>
            <tr>
              <td class="h-100">
                {% block page %}
                  <table class="table layout-table h-100">
                    <tbody>
                      <!--googleoff: all-->
                      <tr>
                        <td>
                          <noscript>
                          {% include '@App/Default/_website_compat_notice.html.twig' with {
                            title: 'Sorry, like most websites, this site requires Javascript to be enabled.', 
                            text: 'It seems you have disabled Javascript. This website will not function correctly until you enable it.', 
                            button: 'How to enable Javascript', 
                            href: 'http://www.enable-javascript.com/'
                          } only %}
                          </noscript>
                          <div id="outdated" style="display: none;">
                            {% include '@App/Default/_website_compat_notice.html.twig' with {
                              title: 'Your web browser is out of date so you may experience issues', 
                              text: 'Update your browser now for more security, comfort and the best experience on this website.', 
                              button: 'Update Browser', 
                              href: 'http://outdatedbrowser.com/'
                            } only %}
                          </div>
                        </td>
                      </tr>
                      <!--googleon: all-->
                      <tr>
                        <td class="mobile-dropdown">
                          <div class="container-fluid header-container">
                            <div class="row header-bar justify-content-center">
                              <div class="col-lg-{{ (app.request.attributes.get('_route') == 'homepage') ? '11' : '10' }}">
                                <div class="header-bar-inner">
                                  <div class="row no-gutters">
                                    <div class="col-12 col-auto">
                                      <a class="logo-link" href="/">
                                        <img class="header-logo" src="{{ asset('bundles/app/images/logo/ssl_regular.png') }}" alt="Stop Smoking London Logo" />
                                      </a>
                                    </div>
                                    <div class="col col-right{{ (app.request.attributes.get('_route') == 'homepage') ? ' align-self-end' : ' align-self-center nav-outer' }}">
                                    {% if app.request.attributes.get('_route') == 'homepage' %}
                                      <h2>The capital's starting point for <b>stopping smoking</b></h2>
                                    {% else %}
                                      {% set try_prefix = 'stop_smoking_' %}
                                      <ul class="nav justify-content-end">
                                        <li class="nav-item desktop">
                                          <a class="nav-link{{ (app.request.attributes.get('_route')|slice(0, try_prefix|length)) == try_prefix ? ' active' }}" href="{{ path('stop_smoking_choices') }}">Try To Stop</a>
                                        </li>
                                        <li class="nav-item desktop">
                                          <a class="nav-link{{ (app.request.attributes.get('_route') == 'help_others_stop') ? ' active' }}" href="{{ path('help_others_stop') }}">Help Others</a>
                                        </li>
                                        <li class="nav-item desktop">
                                          <a class="nav-link{{ (app.request.attributes.get('_route') == 'find_out_more') ? ' active' }}" href="{{ path('find_out_more') }}">About Stopping</a>
                                        </li>
                                        <li class="nav-item mobile">
                                          <a class="nav-link active dropdown-toggle" href="#" data-toggle="dropdown" data-target=".mobile-dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
                                        </li>
                                      </ul>
                                    {% endif %}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% if app.request.attributes.get('_route') != 'homepage' %}
                          <ul class="nav mobile mobile-dropdown-menu" id="mobileMenu">
                            <li class="nav-item">
                              <a class="nav-link{{ (app.request.attributes.get('_route') == 'homepage') ? ' active' }}" href="{{ path('homepage') }}">Home</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link{{ (app.request.attributes.get('_route')|slice(0, try_prefix|length)) == try_prefix ? ' active' }}" href="{{ path('stop_smoking_choices') }}">Try To Stop</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link{{ (app.request.attributes.get('_route') == 'help_others_stop') ? ' active' }}" href="{{ path('help_others_stop') }}">Help Others</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link{{ (app.request.attributes.get('_route') == 'find_out_more') ? ' active' }}" href="{{ path('find_out_more') }}">About Stopping</a>
                            </li>
                          </ul>
                          {% endif %}
                        </td>
                      </tr>
                      <tr>
                        <td class="h-100 container-lower-outer">
                          {% block page_content %}{% endblock %}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                {% endblock %}
              </td>
            </tr>
            <tr>
              <td>
                {% block footer %}
                <footer class="container-fluid footer">
                  {% block footer_content %}
                    <div class="row">
                      <div class="col">
                        <ul class="nav justify-content-center footer-nav">
                          <li class="nav-item">
                            <a class="nav-link{{ (app.request.attributes.get('_route') == 'websites_apps') ? ' active' }}" href="{{ path('websites_apps') }}">Useful Websites and Apps</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link{{ (app.request.attributes.get('_route') == 'find_out_more') ? ' active' }}" href="{{ path('find_out_more') }}">More About Stopping</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link{{ (app.request.attributes.get('_route') == 'about_us') ? ' active' }}" href="{{ path('about_us') }}">About Us</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link{{ (app.request.attributes.get('_route') == 'contact_us') ? ' active' }}" href="{{ path('contact_us') }}">Contact Us</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link{{ (app.request.attributes.get('_route') == 'privacy') ? ' active' }}" href="{{ path('privacy') }}">Privacy</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <ul class="nav justify-content-center social-nav">
                          <li class="nav-item">
                            <a class="nav-link social-link twitter" target="_blank" href="{{ external_links.twitter }}">Follow us on Twitter</a>
                          </li>
                          {# <li class="nav-item">
                            <a class="nav-link social-link facebook" target="_blank" href="{{ external_links.facebook }}">Like us on Facebook</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link social-link linkedin" target="_blank" href="{{ external_links.linkedin }}">Connect on LinkedIn</a>
                          </li> #}
                        </ul>
                      </div>
                    </div>
                    <div class="row copyright-footer">
                      <div class="col">
                        &copy; {{ "now"|date("Y") }} Stop Smoking London
                      </div>
                      <div class="col-12 col-auto">
                        <a target="_blank" href="{{ external_links.british_websites }}">site by British Websites</a>
                      </div>
                    </div>
                  {% endblock %}
                </footer>
                {% endblock %}
              </td>
            </tr>
          </tbody>
        </table>
        </div>
        <div class="modal fade modal-tooltip" tabindex="-1" role="dialog" aria-hidden="true" id="tooltip">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"></h5>
              </div>
              <div class="modal-body"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-block btn-lg btn-primary btn-cta" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      {% endblock %}
      
      {% block javascripts %}
        {% javascripts
          '@AppBundle/Resources/assets/global/bower/outdated-browser/outdatedbrowser/outdatedbrowser.min.js'
          '@AppBundle/Resources/assets/global/greensock/TweenMax.min.js'
          '@AppBundle/Resources/assets/global/bower/jquery/dist/jquery.min.js'
          '@AppBundle/Resources/assets/global/bower/tether/dist/js/tether.min.js'
          '@AppBundle/Resources/assets/global/bower/bootstrap/dist/js/bootstrap.min.js'
          '@AppBundle/Resources/assets/global/bower/linkifyjs/linkify.min.js'
          '@AppBundle/Resources/assets/global/bower/linkifyjs/linkify-string.min.js'
          '@AppBundle/Resources/assets/global/General.js'
          '@AppBundle/Resources/assets/global/Tooltips.js'
          '@AppBundle/Resources/assets/global/HeaderAnim.js'
          filter='?uglifyjs2'
          name='BaseJS' %}
          <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
      {% endblock %}
  </body>
</html>
