{% extends '@App/base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets 
    '@SimpleUserBundle/Resources/assets/scss/forms.scss'
    filter='?uglifycss'
     %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block page_content %}
    {{ parent() }}
    <div class="container mt-4">
        {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'form-signin' } }) }}
            <h2 class="form-signin-heading">Reset password</h2>
            {% if not form.vars.valid %}
            <div class="alert alert-danger" role="alert">
                <strong>Password reset failed!</strong>
                {{ form_errors(form.plainPassword.first) }}
            </div>
            {% endif %}
            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control username', 'placeholder': 'form.password'} }) }}
            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control password', 'placeholder': 'form.password_confirmation'} }) }}
            
            {{ form_widget(form) }}
            <div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'resetting.reset.submit'|trans }}</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}