{% extends '@LexikTranslation/layout.html.twig' %}

{% block lexik_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/boroughservices/css/borough_services.css') }}">
{% endblock %}

{% block lexik_title %}Stop Smoking Service Service{% endblock %}

{% block lexik_content %}
  <div class="container">
    {% block lexik_toolbar %}
      <div class="page-header">
        <h1>
          Stop Smoking Service Service
        </h1>
      </div>
    {% endblock lexik_toolbar %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
      {{ form_errors(form) }}
      <div class="form-group">
        {{ form_label(form.name, 'Stop Smoking Service Name (optional)', {'label_attr': {'class': 'control-label col-sm-3'}}) }}
        <div class="col-sm-9">
          {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
        {{ form_errors(form.name) }}
      </div>
      <div class="form-group">
        {{ form_label(form.boroughs, 'Boroughs', {'label_attr': {'class': 'control-label col-sm-3'}}) }}
        <div class="col-sm-9">
          {{ form_widget(form.boroughs, {'attr': {'class': 'selectpicker', 'data-width': '100%', 'data-live-search': 'true', 'data-actions-box': 'true'}}) }}
          <div class="form-text text-info"><strong>A borough can only have one service</strong>. If you select a borough that is already assigned to a service, it will be <strong>moved</strong> to this service</div>
        </div>
        {{ form_errors(form.boroughs) }}
      </div>

      <div class="form-group">
        {{ form_label(form.specialist_advisors, 'Specialist advisors?', {'label_attr': {'class': 'control-label col-sm-3'}}) }}
        <div class="col-sm-9">
          {{ form_widget(form.specialist_advisors, {'attr': {'class': ''}}) }}
        </div>
        {{ form_errors(form.specialist_advisors) }}
      </div> 

      <div class="form-group">
        {{ form_label(form.pharmacy_staff, 'Pharmacy staff?', {'label_attr': {'class': 'control-label col-sm-3'}}) }}
        <div class="col-sm-9">
          {{ form_widget(form.pharmacy_staff, {'attr': {'class': ''}}) }}
        </div>
        {{ form_errors(form.pharmacy_staff) }}
      </div> 

      <div class="form-group">
        {{ form_label(form.gp_prescription, 'GPs can prescribe medication?', {'label_attr': {'class': 'control-label col-sm-3'}}) }}
        <div class="col-sm-9">
          {{ form_widget(form.gp_prescription, {'attr': {'class': ''}}) }}
        </div>
        {{ form_errors(form.gp_prescription) }}
      </div>

      <div class="form-group">
        {{ form_label(form.telephone, 'Telephone', {'label_attr': {'class': 'control-label col-sm-3'}}) }}
        <div class="col-sm-9">
          {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
        </div>
        {{ form_errors(form.telephone) }}
      </div>

      <div>
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-block btn-success'}}) }}
      </div>
    {{ form_end(form) }}

  </div>
{% endblock %}

{% block lexik_javascript_footer %}
    {{ parent() }}
    {% javascripts
      '@AppBundle/Resources/assets/global/bower/bootstrap-select/dist/js/bootstrap-select.min.js'
      filter='?uglifyjs2' %}
      <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="{{ asset('bundles/boroughservices/js/borough_services.js') }}"></script>
{% endblock %}