<div class="row text-white justify-content-center jumbotron-outer {{ class is defined ? class : 'default' }}">
  <div class="jumbotron-feature-image-outer"><div class="jumbotron-feature-image" id="JumbotronFeature"></div></div>
  <div class="col-lg-10 jumbotron jumbotron-fluid">
    {% if choices_link is defined %}
    <a href="{{ path('stop_smoking_choices') }}#{{ app.request.attributes.get('_route') }}" class="back-choices"><span class="desktop">&lt;&nbsp;</span>Back<span class="desktop">&nbsp;to Choices</span></a>
    {% endif %}
    <div class="h2-outer"><h2 id="animHeader">{{ title.header | raw | nl2br }}</h2></div>
    {% if title.lead is defined %}
      <p class="lead">{{ title.lead | raw | nl2br }}</p>
    {% endif %}
  </div>
</div>
<script>document.getElementById("animHeader").style.opacity = 0; document.getElementById("JumbotronFeature").style.opacity = 0;</script>