<div class="card twitter-card mb-3">
  <div class="card-block">
    <a class="media twitter-user mb-1" href="https://twitter.com/{{ tweet.tweetUser.screen_name }}" target="_blank">
      <img class="d-flex mr-1 align-self-center" src="{{ tweet.tweetUser.profile_image_url_https }}" />
      <div class="media-body align-self-center">
        <h5 class="mt-0 mb-0">
          <span class="tweet-name">{{ tweet.tweetUser.name }}</span><span class="tweet-username">&nbsp; @{{ tweet.tweetUser.screen_name }}</span>
        </h5>
      </div>
    </a>
    
    <p class="mb-2">{{ tweet.htmlText | raw }}</p>
    <a class="view-tweet" href="https://twitter.com/statuses/{{ tweet.id }}" target="_blank">View tweet</a>
  </div>
</div>