{% trans_default_domain "home" %}
<div class="cta-buttons-box">
  <h3 class="d-inline-block">{{ 'header.buttons'|trans }}</h3>
  <div class="d-inline-block w-100">
    <a class="btn btn-lg btn-block btn-success btn-cta" href="{{ path('stop_smoking_choices') }}">
      <div class="media">
        <img class="d-flex mr-2 mr-sm-3 align-self-center" src="{{ asset('bundles/app/images/button/icon_stop_smoking.png') }}" style="width: 47px; height: 47.5px;" />
        <div class="media-body align-self-center">
          {{ 'buttons.self_stop'|trans }}
        </div>
        <img class="d-flex ml-3 align-self-center" src="{{ asset('bundles/app/images/button/arrow_right.png') }}" style="width: 19.5px; height: 13.5px;" />
      </div>
    </a>
  </div>
  <div class="d-inline-block w-100 mt-2">
    <a class="btn btn-lg btn-block btn-primary btn-cta" href="{{ path('help_others_stop') }}">
      <div class="media">
        <img class="d-flex ml-1 mr-2 mr-sm-3 align-self-center" src="{{ asset('bundles/app/images/button/family-friends.png') }}" style="width: 39.5px; height: 28.5px; margin-top: 4px; margin-bottom: 4px;" />
        <div class="media-body align-self-center">
          {{ 'buttons.help_others'|trans }}
        </div>
        <img class="d-flex ml-3 align-self-center" src="{{ asset('bundles/app/images/button/arrow_right.png') }}" style="width: 19.5px; height: 13.5px;" />
      </div>
    </a>
  </div>
  {% if app.request.attributes.get('_route')!='find_out_more' %}
  <div class="d-inline-block w-100 mt-2">
    <a class="btn btn-lg btn-block btn-primary btn-cta" href="{{ path('find_out_more') }}">
      <div class="media">
        <img class="d-flex mr-2 mr-sm-3 align-self-center" src="{{ asset('bundles/app/images/button/icon_info.png') }}" style="width: 37px; height: 36.5px;" />
        <div class="media-body align-self-center">
          {{ 'buttons.find_out'|trans }}
        </div>
        <img class="d-flex ml-3 align-self-center" src="{{ asset('bundles/app/images/button/arrow_right.png') }}" style="width: 19.5px; height: 13.5px;" />
      </div>
    </a>
  </div>
  {% endif %}
</div>