{% trans_default_domain "stop_smoking_chosen" %}

<div class="card card-outline-success text-center container-fluid" id="emailCard">
  <div class="card-block row justify-content-center">
    <div class="col-12 col-md-9">
      <h4>{{ 'steps.1.header'|trans }}</h4>
      <p class="ttt">
        {{ 'steps.1.text'|trans }}
      </p>
      <div class="container-fluid">
        <form action="https://silverbackmail.createsend.com/t/i/s/clizd/" method="post" id="emailForm">
          <div class="form-group row gutter-sm">
            <div class="col">
              <input class="form-control form-control-lg" type="email" name="cm-clizd-clizd" value="" placeholder="{{ 'steps.1.input_placeholder'|trans }}" />
              <div class="form-control-feedback text-warning" id="emailError"></div>
            </div>
            <div class="col-12 col-md-auto">
              <button type="submit" class="btn btn-success btn-cta" id="confirmPostcode" href="#">{{ 'steps.1.button'|trans }}</button>
            </div>
          </div>
        </form>
        <span class="email-thanks" id="emailThanks"><h5>{{ 'steps.1.success'|trans }}</h5><p>{{ 'steps.1.success_small'|trans }}</p></span>
      </div>
    </div>
  </div>
</div>