{% trans_default_domain "telephone_service" %}

<div class="row justify-content-center stop-smoking-london-info-row">
  <div class="col-12">
    <div class="stop-smoking-london-bottom container-fluid">
      <div class="row">
        <div class="col-12">
          <img src="{{ asset('bundles/app/images/logo/ssl_large.png') }}" alt="Stop Smoking London Logo" class="ssl-logo-large" />
        </div>
      </div>
      <div class="row row justify-content-center">
        <div class="col-12 col-md-11">
          {% if date(launch_date) <= date('now') %}
            {% for paragraphtext in transarray('service_launched.text', [], 'telephone_service') %}
              <p>{{ paragraphtext|raw }}</p>
            {% endfor %}
            <p class="text-primary">{{ 'service_launched.telephone.intro'|trans }} <a href="tel:+44{{ 'service_launched.telephone.number'|trans|replace({" ": ""})|slice(1) }}">{{ 'service_launched.telephone.number'|trans }}</a></p>
          {% else %}
            {% for paragraphtext in transarray('prelaunch.text', [], 'telephone_service') %}
              <p>{{ paragraphtext|raw }}</p>
            {% endfor %}
            <p class="text-primary">{{ 'prelaunch.telephone.0'|trans|raw|replace({"%launch_date%": launch_date|date(launch_date_format)}) }}</p>
          {% endif %}
          {% if app.request.attributes.get('_route') != 'find_out_more' %}
          <a class="btn btn-lg btn-primary btn-cta" href="{{ path('find_out_more') }}">{{ 'find_out_more_button'|trans }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>