{% extends '@App/base.html.twig' %}
{% trans_default_domain "contact" %}
{% block stylesheets %}
  {{ parent() }}
  {% stylesheets 
    '@AppBundle/Resources/assets/global/bower/bootstrap-select/dist/css/bootstrap-select.css'
    '@AppBundle/Resources/assets/local/scss/contact.scss'
    filter='?uglifycss'
     %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts
    '@AppBundle/Resources/assets/global/bower/bootstrap-select/dist/js/bootstrap-select.min.js'
    filter='?uglifyjs2' %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block page_content %}
  <div class="container-fluid h-100 container-lower ">
    {% include '@App/Default/_header.html.twig' %}
    
    <div class="row block-text row-main-page">
      <div class="col-12">
        <p>{{ 'intro_text'|trans|nl2br }}</p>
      </div>
    </div>

    <div class="row contact-row">
      <div class="col-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        {{ form_start(form) }}
          {% include '@App/Default/_contact_row.html.twig'  with {'input': form.subject} only %}
          {% include '@App/Default/_contact_row.html.twig'  with {'input': form.name} only %}
          {% include '@App/Default/_contact_row.html.twig'  with {'input': form.email} only %}
          {% include '@App/Default/_contact_row.html.twig'  with {'input': form.telephone} only %}
          {% include '@App/Default/_contact_row.html.twig'  with {'input': form.message} only %}
          <div class="submit-inner-row">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-lg btn-success btn-cta'}}) }}
          </div>
        {{ form_end(form) }}
      </div>
    </div>

    {% include '@App/Default/_stop_smoking_london_info.html.twig' %}
  </div>
{% endblock %}