{% extends '@App/base.html.twig' %}
{% trans_default_domain "helpline" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@AppBundle/Resources/assets/local/scss/helpline.scss'
    filter='?uglifycss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts
    '@AppBundle/Resources/assets/local/js/helpline.js'
    filter='?uglifyjs2' %}
      <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block page_content %}
    {{ parent() }}
    <div class="container-fluid pb-md-5">
        {% include '@App/Default/_header.html.twig' with {class: 'hills lower'} %}
        <div class="row justify-content-center map-row-wrapper row-main-page no-gutters">
            <div class="col-12">
                <div class="container mobile-w-100">
                    <div class="row justify-content-center no-gutters">
                        <div class="col-lg-10">
                            <section class="orange-section">
                                <!--<div class="row justify-content-center mx-0 mb-3">
                                    <div class="col-12">
                                        <img src="{{ asset('bundles/app/images/main/quit-smoking-tough.jpg') }}" width="100%" alt="Do you want to quit smoking for good? One You marketing banner." />
                                    </div>
                                </div>-->
                                <div class="row justify-content-center no-gutters mobile-w-100">
                                    <div class="col-12">
                                        <div class="container-fluid mb-4 px-0 px-md-3">
                                            <div class="container-fluid card card-outline-success text-center">
                                                <div class="card-block row justify-content-center">
                                                    <div class="col-12 col-md-10">
                                                        <h4>Call the advice line now</h4>
                                                        <span class="tel-cont">
                                                            <a class="btn btn-success btn-cta btn-tel" href="tel:+44{{ 'service_launched.telephone.number'|trans({}, 'telephone_service')|replace({" ": ""})|slice(1) }}"><span class="tel-text">{{ 'service_launched.telephone.number'|trans({}, 'telephone_service') }}</span></a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row block-text text-center no-gutters">
                                    <div class="col-12 about-block-text">
                                        {# <h4>{{ 'about.title'|trans }}</h4> #}
                                        {{ 'about.text'|trans|replace({'**HELPLINE**': '<a href="tel:+44' ~ 'service_launched.telephone.number'|trans({}, 'telephone_service')|replace({" ": ""})|slice(1) ~ '">' ~ 'service_launched.telephone.number'|trans({}, 'telephone_service') ~ '</a>'})|markdown }}
                                    </div>
                                </div>
                            </section>
                            <div class="row block-text text-center no-gutters">
                                <div class="col-12">
                                    <hr class="my-4" />
                                    <h4>{{ 'faq.title'|trans }}</h4>
                                    <a class="btn btn-lg btn-primary btn-cta mt-2"
                                       href="#"
                                       style="width: 100%; max-width:500px;"
                                       id="faq-btn"
                                    >
                                        <img src="{{ asset('bundles/app/images/button/faq_question.png') }}"
                                             style="width: 28.5px; height: 29px; vertical-align: middle;"
                                        />
                                        <span class="pl-2 pr-2" style="vertical-align: middle;" id="faq-btn-text">
                                            Show FAQs
                                        </span>
                                    </a>
                                    {% set faq_trans_pre = 'faq.' %}
                                    {% set faq_question_key = '.question' %}
                                    {% set faq_answer_key = '.answer' %}
                                    {% set faq_trans_i = 0 %}
                                    {% set faq_question = faq_trans_pre ~ faq_trans_i ~ faq_question_key%}
                                    {% set faq_set = faq_question|trans != faq_question %}
                                    <div class="faqs-container d-none mt-4" id="faqs-container">
                                        {% for i in 0..100 if faq_set %}
                                            <h5>{{ faq_question|trans }}</h5>
                                            {{ (faq_trans_pre ~ faq_trans_i ~ faq_answer_key)|trans|markdown }}
                                            {% set faq_trans_i = faq_trans_i + 1 %}
                                            {% set faq_question = faq_trans_pre ~ faq_trans_i ~ faq_question_key%}
                                            {% set faq_set = faq_question|trans != faq_question %}
                                        {% endfor %}
                                    </div>
                                    <hr class="my-4" />
                                </div>
                            </div>

                            <div class="row cta-box-outer-row no-gutters">
                                <div class="col-12 cta-box-outer mt-4">
                                    {% include '@App/Default/_home_cta_buttons.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}