{% extends '@App/base.html.twig' %}
{% trans_default_domain "home" %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets 
    '@AppBundle/Resources/assets/local/scss/index.scss'
    filter='?uglifycss'
     %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts
    '@AppBundle/Resources/assets/local/js/index.js'
    filter='?uglifyjs2' %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}

{% block page_content %}
  {{ parent() }}
  <div class="container-fluid h-100">
    <div class="column">
      <div class="row home-feature justify-content-center col-auto">
        <div class="col-lg-10 align-self-center">
          <h1 class="welcome">
            <span class="small">{{ 'header.main.small'|trans }}</span><br />
            {{ 'header.main.large'|trans }}
          </h1>
        </div>
      </div>
      <div class="row home-bottom justify-content-center">
        <div class="col-lg-11">
          <div class="row h-100 triples-row gutter-lg">
            <div class="home-right-bg"></div>
            {% include '@App/Default/_home_cta_buttons.html.twig' %}
            <div class="col-12 col-lg-auto">
              <ul class="fact-list">
                <li>
                  <img src="{{ asset('bundles/app/images/icon/map_london.png') }}" alt="Smokers in london with pie chart effect over London outline" class="fact-icon map" />
                  <span class="fact">{{ 'image_captions.1'|trans|nl2br }}</span>
                </li>
                <li>
                  <img src="{{ asset('bundles/app/images/icon/stop.png') }}" alt="Stop sign - most smokers want to stop" class="fact-icon stop" />
                  <span class="fact">{{ 'image_captions.2'|trans|nl2br }}</span>
                </li>
                <li>
                  <img src="{{ asset('bundles/app/images/icon/stop_smoking.png') }}" alt="Stop smoking icon" class="fact-icon stop-smoking" />
                  <span class="fact">{{ 'image_captions.3'|trans|nl2br }}</span>
                </li>
              </ul>
            </div>
            <div class="col-lg news-col">
              <div class="h3-outer">
                <h3 class="news-header">
                  {{ 'header.latest_news'|trans }}
                </h3>
                <a href="{{ external_links.twitter }}" class="twitter-profile-link" target="_blank">
                  <div class="media">
                    <div class="d-flex mr-1 align-self-center icon"></div>
                    <div class="media-body align-self-center">@StopSmokingLon</div>
                  </div>
                </a>
              </div>
              <div class="carousel-container" id="carouselContainer"></div>
            </div>
            {% include '@App/Default/_home_cta_buttons.html.twig' %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}