{% extends '@App/base.html.twig' %}
{% trans_default_domain "stop_smoking_chosen" %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets 
    '@AppBundle/Resources/assets/global/bower/bootstrap-select/dist/css/bootstrap-select.css'
    '@AppBundle/Resources/assets/global/GoogleMap/GoogleMap.scss'
    '@AppBundle/Resources/assets/local/scss/stop-smoking-selected.scss'
    filter='?uglifycss'
     %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts
    '@AppBundle/Resources/assets/global/bower/bootstrap-select/dist/js/bootstrap-select.min.js'
    '@AppBundle/Resources/assets/global/bootstrap-toolkit/bootstrap-toolkit.js'
    '@AppBundle/Resources/assets/global/BootstrapModalAlerts.js'
    '@AppBundle/Resources/assets/global/GoogleMap/GoogleMap.js'
    '@AppBundle/Resources/assets/local/js/stop-smoking-selected.js'
    filter='?uglifyjs2' %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api }}&callback=GoogleMap.init"></script>
{% endblock %}

{% block page_content %}
  <div class="container-fluid h-100 container-lower">

    {% include '@App/Default/_header.html.twig' %}

    <div class="row justify-content-center map-row-wrapper row-main-page">
      <div class="col flex-last flex-lg-first">
        <div id="searchText" class="toggle-area">
          <h3 class="page-header-2 postcode-header">{{ 'search.header'|trans }}</h3>
          <div class="form-group row postcode-group gutter-sm">
            <div class="col">
              <input class="form-control form-control-lg" type="text" value="" id="postcodeInput" placeholder="Eg. SW4" />
            </div>
            <div class="col-12 col-auto">
              <a class="btn btn-success btn-cta" id="confirmPostcode" href="#">{{ 'search_button'|trans }}</a>
            </div>
            <div class="col-12">
              <p class="form-text text-muted">{{ 'search.question'|trans }} <a href="#" class="search-type-toggle" data-toggle="#searchBorough">{{ 'search.alternative'|trans }}</a></p>
            </div>
          </div>
        </div>
        <div id="searchBorough" class="toggle-area" style="display: none;">
          <h3 class="page-header-2 postcode-header">{{ 'select.header'|trans }}</h3>
          <div class="form-group row borough-group gutter-sm">
            <div class="col-12">
              <div class="w-100">
                <select class="selectpicker w-100" data-style="btn-secondary btn-lg" data-dropup-auto="false" data-live-search="true" data-live-search-style="startsWith" title="{{ 'select.dropdown_initital_text'|trans }}" id="sessionSelect">
                </select>
              </div>
            </div>
            <div class="col-12">
              <p class="form-text text-muted">{{ 'select.question'|trans }} <a href="#" class="search-type-toggle" data-toggle="#searchText">{{ 'select.alternative'|trans }}</a></p>
            </div>
          </div>
        </div>
        <div class="card card-outline-success text-center borough-card" id="boroughCard">
          <div class="card-block">
            <p id="liveIn">{{ 'found_borough_prefix'|trans }}</p>
            <h4 id="selectedBorough"></h4>
          </div>
        </div>
      </div> 
      <div class="col-12 col-lg-auto google-map-outer">
        <center>
          <div class="google-map spacer"></div>
        </center>
      </div>
      <div data-token="{{ csrf_token('borough_json') }}" class="google-map actual" id="map"></div>
    </div>
    <div class="row justify-content-center mt-5 hidden" id="nextSteps">
      <div class="col-12">
        <h3 class="page-header-2 two-steps">There are now just two small steps to get you started</h3>
        
        {% include '@App/Default/_step1.html' %}
        
        {% if type == 'advisor' %}
        <div class="card card-outline-success text-center container-fluid mobile-w-100" id="advisorCard">
          <div class="card-block row justify-content-center">
            <div class="col-12 col-md-9">
              <h4>Step 2: Contact your service</h4>
              <p class="message"></p>
              <span class="tel-cont"></span>
              {# <a class="btn btn-lg btn-success btn-cta website-link" target="_blank" href="#"></a> #}
            </div>
          </div>
        </div>
        {% endif %}
        {% if type == 'medicine' %}
        <div class="card card-outline-success text-center container-fluid mobile-w-100" id="medicineCard">
          <div class="card-block row justify-content-center">
            <div class="col-12 col-md-9">
              <h4>Step 2: Getting your medicine</h4>
              <p class="message"></p>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    {% include '@App/Default/_stop_smoking_london_info.html.twig' %}
  </div>
{% endblock %}