{% extends '@App/base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets 
    '@AppBundle/Resources/assets/global/GoogleMap/GoogleMap.scss'
    '@AppBundle/Resources/assets/local/scss/stop-smoking-selected.scss'
    filter='?uglifycss'
     %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts
    '@AppBundle/Resources/assets/global/bootstrap-toolkit/bootstrap-toolkit.js'
    '@AppBundle/Resources/assets/global/BootstrapModalAlerts.js'
    '@AppBundle/Resources/assets/global/GoogleMap/GoogleMap.js'
    filter='?uglifyjs2' %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api }}&callback=GoogleMap.init"></script>
{% endblock %}

{% block page_content %}
  <div class="container-fluid h-100">
    <div class="row bg-primary text-white justify-content-center">
      <div class="col-lg-10 jumbotron jumbotron-fluid bg-primary">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/stop-smoking">I want to stop smoking</a></li>
          <li class="breadcrumb-item active">Book appointment</li>
        </ol>
        <a href="/" class="home-link">Home</a>
        <h2>You are making an appointment<br />with an advisor</h2>
      </div>
    </div>
    <div class="row justify-content-center bottom-row">
      <div class="col-12 col-lg-9 col-xl-11">
        <div class="container-fluid container-lower">
          <div class="row justify-content-center">
            <div class="col flex-last flex-lg-first">
              <h3 class="postcode-header">Search address or postcode</h3>
              <div class="form-group row postcode-group gutter-sm">
                <div class="col">
                  <input class="form-control form-control-lg" type="text" value="" id="postcodeInput" placeholder="Eg. SW4" maxlength="8" />
                </div>
                <div class="col-12 col-auto">
                  <a class="btn btn-success btn-cta" id="confirmPostcode" href="#">Search</a>
                </div>
                <div class="col-12">
                  <p class="form-text text-muted">Don't know what to search? <a href="#">Select borough instead</a></p>
                </div>
              </div>

              <div class="card card-outline-success text-center borough-card" id="boroughCard">
                <div class="card-block">
                  <span><span id="liveIn">You have said that you live in</span><h4 id="selectedBorough">XYZ</h4></span>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-auto google-map-outer">
              <center>
                <div class="google-map" id="map"></div>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
{% endblock %}