{% extends '@App/base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets 
    '@AppBundle/Resources/assets/global/bower/bootstrap-select/dist/css/bootstrap-select.css'
    '@AppBundle/Resources/assets/global/GoogleMap/GoogleMap.scss'
    '@AppBundle/Resources/assets/local/scss/stop-smoking-selected.scss'
    filter='?uglifycss'
     %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% javascripts
    '@AppBundle/Resources/assets/global/bower/bootstrap-select/dist/js/bootstrap-select.min.js'
    '@AppBundle/Resources/assets/global/bootstrap-toolkit/bootstrap-toolkit.js'
    '@AppBundle/Resources/assets/global/BootstrapModalAlerts.js'
    '@AppBundle/Resources/assets/global/GoogleMap/GoogleMap.js'
    '@AppBundle/Resources/assets/local/js/stop-smoking-selected.js'
    filter='?uglifyjs2' %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api }}&callback=GoogleMap.init"></script>
{% endblock %}

{% block page_content %}
  <div class="container-fluid h-100">
    <div class="row bg-primary text-white justify-content-center">
      <div class="col-lg-10 jumbotron jumbotron-fluid bg-primary">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/stop-smoking">I want to stop smoking</a></li>
          <li class="breadcrumb-item active">Book appointment</li>
        </ol>
        <a href="/" class="home-link">Home</a>
        <h2>You are making an appointment<br />with an advisor</h2>
      </div>
    </div>
    <div class="map-row-wrapper">
      <div class="row justify-content-center bottom-row container-lower">
        <div class="col flex-last flex-lg-first">
          <div id="searchText" class="toggle-area">
            <h3 class="postcode-header">Search address or postcode</h3>
            <div class="form-group row postcode-group gutter-sm">
              <div class="col">
                <input class="form-control form-control-lg" type="text" value="" id="postcodeInput" placeholder="Eg. SW4" />
              </div>
              <div class="col-12 col-auto">
                <a class="btn btn-success btn-cta" id="confirmPostcode" href="#">Search</a>
              </div>
              <div class="col-12">
                <p class="form-text text-muted">Don't know what to search? <a href="#" class="search-type-toggle" data-toggle="#searchBorough">Select borough instead</a></p>
              </div>
            </div>
          </div>
          <div id="searchBorough" class="toggle-area" style="display: none;">
            <h3 class="postcode-header">Select your borough</h3>
            <div class="form-group row borough-group gutter-sm">
              <div class="col-12">
                <div class="w-100">
                  <select class="selectpicker w-100" data-style="btn-secondary btn-lg" data-dropup-auto="false" data-live-search="true" title="Select your borough" id="sessionSelect">
                  </select>
                </div>
              </div>
              <div class="col-12">
                <p class="form-text text-muted">Can't find your borough? <a href="#" class="search-type-toggle" data-toggle="#searchText">Search instead</a></p>
              </div>
            </div>
          </div>
          <div class="card card-outline-success text-center borough-card" id="boroughCard">
            <div class="card-block">
              <span><span id="liveIn">You have said that you live in</span><h4 id="selectedBorough">XYZ</h4></span>
            </div>
          </div>
        </div> 
        <div class="col-12 col-lg-auto google-map-outer">
          <center>
            <div class="google-map spacer"></div>
          </center>
        </div>
      </div>
      <div data-token="{{ csrf_token('borough_json') }}" class="google-map actual" id="map"></div>
    </div>
  </div>
{% endblock %}